@mixin user {
    margin-top: 4em;
    max-height: 450px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

@mixin empty-user{
    display: flex;
    justify-content: center;
}

.show-users {
    overflow: auto;
    @include user;
}

.loading-users {
    @include user;
    @include empty-user;
}

.no-users-added {
    @include empty-user;
    @include user;
}