@mixin text-center {
    padding-top: 1em;
    text-align: center;
}

.user {
    width: 70%;
}

.loading-text{
    margin-bottom: 1em;
    @include text-center;
    
}

.error-text{
    @include text-center;
}

.updating-text{
    @include text-center;
}