$primaryColor: #ABD9FF;
$bgColor: #FFF6BF;
$fontSize: 16px;
$textColor:#302929;
$white: #ffffff;

@mixin btn-style {
  padding: 7px 10px;
  border-radius: 5px;
  margin: 0px 5px;
  border: none;
  color: $white;
}

.App {
  display: flex;
  justify-content: center;
}
.container {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: $bgColor;
  h1 {
    color: $textColor
  }
  .todo {
    display: flex;
    input {
      color: $textColor;
      border: none;
      border-radius: 3px ;
      border: 1px solid $textColor;
      width: 500px;
      padding: 7px;
    }
    input:focus {
      border: 1px solid $primaryColor;
      outline: none;
  }
    button {
      @include btn-style;
    }
    .add-btn {
      background-color: rgb(60, 163, 60);
    }
    .upd-btn {
      background-color: rgb(218, 225, 73);
    }
  }
  ul {
    margin: 10px 0px;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      list-style: none;
      box-sizing: border-box;
      margin-bottom: 5px;
      span {
        display: flex;
        align-items: center;
       width: 510px;
       padding-left: 7px;
       background-color: $white;
       border-radius: 3px ;
       box-sizing: border-box;
      }
      button {
        @include btn-style;
      }
      .edt-btn {
        background-color: rgb(177, 77, 177);
      }
      .del-btn {
        background-color: rgb(239, 37, 37);
      }
    }
  }
  div {
    span {
      font-size: 16px;
      font-style: bold;
      font-weight: 500;
      padding: 0 20px 10px 0;
    }  
    button {
      @include btn-style;
    }
    .del-btn {
      font-size: 16px;
      font-style: bold;
      font-weight: 500;
      background-color: rgb(239, 37, 37);
    }
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}